<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRentalMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CarRentalMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="menu-toggle" id="menu-toggle">☰</button>
                </div>
                <div class="sidebar" id="sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item dropdown" id="vehiclesDropdown">
                            <a class="nav-link dropdown-toggle" href="#">Araç İşlemleri</a>
                            <ul class="collapse" id="vehiclesMenu">
                                <li><a class="dropdown-item" href="#">Araç Kaydı</a></li>
                                <li><a class="dropdown-item" href="/VehicleList">Araç Listesi</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="workTimesDropdown">
                            <a class="nav-link dropdown-toggle" href="#">Çalışma Süreleri</a>
                            <ul class="collapse" id="workTimesMenu">
                                <li><a class="dropdown-item" href="#">Aktif Çalışma Süreleri</a></li>
                                <li><a class="dropdown-item" href="#">Çalışma Grafikleri</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="userManagementDropdown">
                            <a class="nav-link dropdown-toggle" href="#">Kullanıcı Yönetimi</a>
                            <ul class="collapse" id="userManagementMenu">
                                <li><a class="dropdown-item" href="/UserList">Kullanıcı Listesi</a></li>
                                <li><a class="dropdown-item" href="/UserRoleList">Rol Yönetimi</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="reportsDropdown">
                            <a class="nav-link dropdown-toggle" href="#">Raporlar</a>
                            <ul class="collapse" id="reportsMenu">
                                <li><a class="dropdown-item" href="#">Haftalık Raporlar</a></li>
                                <li><a class="dropdown-item" href="#">Grafik Raporlar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <main class="col-12 ms-sm-auto">
                    @RenderBody()
                </main>
            </div>
        </div>
    </header>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CarRentalMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
