@model CarRentalService.DTOs.UserRoleDto

@{
    ViewData["Title"] = "Kullanıcı Güncelle";
}

<h1 class="mb-4" style="text-align:center">@ViewData["Title"]</h1>

@* <div class="card">
    <div class="card-body">
        <form asp-controller="UserEdit" asp-action="UserEdit" method="post" class="row g-3">
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6">
                <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">Ad</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Soyad</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="PasswordHash" class="form-label">Şifre</label>
                <input asp-for="PasswordHash" class="form-control" type="password" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="col-12 text-end">
                <button asp-controller="UserEdit" asp-action="Update" method="post" type="submit" class="btn btn-primary">Kaydet</button>
                <a href="/UserList" class="btn btn-secondary">İptal</a>
            </div>
        </form>
    </div>
</div> *@
