@using CarRentalMVC.Models.DynamicEdit
@model CarRentalService.DTOs.UserRoleDto

@{
    ViewData["Title"] = "Kullanıcı Güncelle";
}

<h1 class="mb-4" style="text-align:center">@ViewData["Title"]</h1>

@{
    var editModel = new DynamicEditViewModel
            {
                Data = Model,
                BaseRoute = "UserRole",
            };
}

@await Html.PartialAsync("~/Views/Shared/CustomItem/DynamicEdit.cshtml", editModel)