@using CarRentalMVC.Models.DynamicGrid
@using CarRentalService.DTOs
@model List<UserRoleDto>

@{
    ViewData["Title"] = "Kullanıcı Role Listesi";
}

<h1 class="mb-4" style="text-align:center">@ViewData["Title"]</h1>

<div class="table-responsive">
    @{
        Html.RenderPartial("~/Views/Shared/CustomItem/DynamicGrid.cshtml", new DynamicGridViewModel { Data = Model, BaseRoute = "UserRole" });
    }

</div>
